.md-sidebar--secondary {
    /* Table of content (TOC) width. 
       If disable this, titles are getting multiline. */
    width: 30%;
}

.md-nav__list {
    /* Navigation bar 
       Line space between each page title. */
    line-height: 35px;
}

.md-nav__item {
    /* Navigation bar 
       adds border between each page title. */
    border-top: .05rem solid var(--md-default-fg-color--lightest);
}